# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\samples\spark-scalatest-sample\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
